<%= stylesheet_link_tag "lists_back" %>
<%= image_tag "Logos/MDC2.png", width: "50%" %>
<header>
  <ul>
    <li><%= link_to "Références", "/references/index" %></li>
    <li><%= link_to "Studios", "/studios/index" %></li>
    <li><%= link_to "Editeurs", "index" %></li>
    <li><%= link_to "Licences", "/licences/index" %></li>
    <li><%= link_to "Propriétaire de licences", "/licencers/index" %></li>
    <li><%= link_to "Utilisateurs", "/users/index" %></li>
    <li><%= link_to "Commentaires", "/comments/index" %></li>
    <li><%= link_to "Affiliations", "/affiliation/index" %></li>
  </ul>
</header>
<h1>Liens d'affiliations</h1>
<% @allAffiliates.each do |selAffiliates| %>
  <p><%= selAffiliates.link %></p>
  <%= form_tag "/affiliation/#{selAffiliates.id}", method: "delete" do %>
  <input type="submit" value="Supprimer" />
  <% end %>
<% end %>
<%= link_to "Ajouter un lien d'affiliation", "/affiliation/new" %>
