<%= stylesheet_link_tag "addmodifyback" %>
<%= javascript_tag "ajoutmodify" %>
<%= image_tag "Logos/MDC2.png", width: "50%" %>
<h1>Ajouter une référence</h1>
<%= link_to "Revenir à l'accueil", "/" %>

<%= form_with(model: @Ref, url: "ajouter", method: "post", local: true) do |f| %>
<div class="form">
    <div class="form_field">
        <%= label_tag "Titre" %>
        <%= f.text_field :titre, class: "input" %>
    </div>

    <div class="">
        <%= label_tag "Titre court" %>
        <%= f.text_field :sousTitre, class: "input" %>
    </div>

    <div class="">
        <%= label_tag "Titre original" %>
        <%= f.text_field :orgTitre, class: "input" %>
    </div>

    <div class="">
        <%= label_tag "Synopsis" %>
        <%= f.text_area(:synopsis, size: "80x8", class: "input") %>
    </div>

    <div class="">
        <%= label_tag "Cette licence possède t'elle un manga ?" %>
        <%= f.check_box(:isManga) %>
    </div>

    <div class="">
        <%= label_tag "Statut de parution" %>
        <%= f.select :parStatus, options_for_select([['Terminée', 'Terminée'], ["En cours de parution","En cours de parution"], ["A venir","A venir"]], @Ref.parStatus) %>
    </div>

    <div class="">
        <%= label_tag "Nombre de tomes (Japon)" %>
        <%= f.text_field :nbVolJp, class: "input" %>
    </div>

    <div class="">
        <%= label_tag "Ce manga est-il/a t'il été édité en France ?" %>
        <%= f.check_box(:isFr) %>
    </div>

    <div class="">
        <%= label_tag "Nombre de tomes (France)" %>
        <%= f.text_field :nbVolFr, class: "input" %>
    </div>

    <div class="">
        <%= label_tag "Edition (France)" %>
        <%= f.select :edition_id, options_from_collection_for_select(Editeur.all, :id, :nom, @Ref.edition_id), include_blank: "Aucun" %>
        <%= link_to "Ajouter un éditeur", "editeurs/new", target: :_blank %>
    </div>

    <div class="">
        <%= label_tag "Cette licence a-t'elle été adaptée en animé ?" %>
        <%= f.check_box(:isAnime) %>
    </div>

    <div class="">
        <%= label_tag "Statut de diffusion" %>
        <%= f.select :difStatus, options_for_select([['Terminée', 'Terminée'], ["En cours de parution","En cours de parution"], ["A venir","A venir"]], @Ref.difStatus) %>
    </div>

    <div class="">
        <%= label_tag "Nombre d'épisodes (Toutes saisons comprises)" %>
        <%= f.text_field :nbEpTotal, class: "input" %>
    </div>

    <div class="">
        <%= label_tag "Nombre d'OAVs (Toutes saisons comprises)" %>
        <%= f.text_field :nbOAVTotal, class: "input" %>
    </div>

    <div class="">
        <%= label_tag "Nombre de films (Toutes saisons comprises)" %>
        <%= f.text_field :nbFilmsTotal, class: "input" %>
    </div>

    <div class="">
        <%= label_tag "Studio d'animation" %>
        <%= f.select :studio_id, options_from_collection_for_select(Studio.all, :id, :nom, @Ref.studio_id), include_blank: "Aucun" %>
        <%= link_to "Ajouter un studio", "studios/new", target: :_blank %>
    </div>

    <div class="">
        <%= label_tag "L'animé a t'il été licencié en France ?" %>
        <%= f.check_box(:isLicenced) %>
    </div>

    <div class="">
        <%= label_tag "Licencié par" %>
        <%= f.select :licencer_id, options_from_collection_for_select(Licencer.all, :id, :nom, @Ref.licencer_id), include_blank: "Aucun" %>
        <%= link_to "Ajouter un propriétaire de licence", "licencers/new", target: :_blank %>
    </div>

    <%= f.submit "Enregistrer les modification" %>
</div>
<% end %>
