<nav>
  <div>
    <%= image_tag "Logos/MDCnavbar.png", class:"logo", width: "10%", height: "10%" %>
  </div>
  <div class="liens">
    <a href="/"><%= image_tag "Logos/home.png", class:"logo", width: "10%", height: "10%" %></a>
    <a href="/search"><%= image_tag "Logos/search.png", class:"logo", width: "10%", height: "10%" %></a>
    <a href="/login"><%= image_tag "Logos/user.png", class:"logo", width: "10%", height: "10%" %></a>
    <a href="/random"><%= image_tag "Logos/dice.png", class:"logo", width: "10%", height: "10%" %></a>
    <a href="/contacter"><%= image_tag "Logos/contact.png", class:"logo", width: "10%", height: "10%" %></a>
  </div>
</nav>


<main>
  <article class="categories">
    <div class="title">
      <h6><%= @selRef.titre %></h6>
      <p><%= @Note %></p>
    </div>
  <div class="user">
    <%= image_tag "/imagesCover.jpg", width: "10%", height: "10%" %>
    <div class="hb">
      <div class="ph">
        <p>Titre original : <span><%= @selRef.orgTitre %></span></p>
        <% if @selRef.isManga then %>
            <p>Statut de parution: <span><%= @selRef.parStatus %></span></p>
            <% if @selRef.isFr then %>
                <p>Nombre de volumes: <span><%= @selRef.nbVolFr %></span></p>
                <p>Edition: <span><%= @selEditeur.nom %></p>
            <% else %>
                <p>Nombre de volumes <span>:<%= @selRef.nbVolJp %></span></p>
            <% end %>
        <% end %>
      </div>
      <div class="pb">
        <% if @selRef.isAnime then %>
            <p>Statut de diffusion: <span><%= @selRef.difStatus %></span></p>
            <p>Studio: <span><%= @selStudio.nom %></p>
            <p>Nombre total d'épisodes: <span><%= @selRef.nbEpTotal %></span></p>
            <p>Nombre d'OAV et de Films : <span><%= @selRef.nbOAVTotal %>, <%= @selRef.nbFilmsTotal %></span></p>
            <% if @selRef.isLicenced then %>
                <p>Licencié par: <span><%= @selLicencer.nom %></span></p>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>

  </article>
    <article class="categories bio">
      <div class="title">
        <h6>Synopsis</h6>
      </div>
        <span><p><%= @selRef.synopsis %></p></span>
    </article>
    <article class="categories">
        <div class="title">
            <h6>Acheter</h6>
        </div>
        <div class="images">
            <div>
                <img class="miniature" src="img/References/Danganronpa/Danganronpa 2 Goodbye Despair/Cover.jpg" alt=""/>
                <p>Danganronpa 2 - Goodbye Despair</p>
            </div>
            <div>
                <img class="miniature" src="img/References/Danganronpa/Danganronpa 3 - The End Of Kibougamine Mirai-hen/Cover.jpg" alt=""/>
                <p>Danganronpa 3 - The End Of Kibougamine Mirai-hen</p>
            </div>
            <div>
                <img class="miniature" src="img/References/Danganronpa/Danganronpa 3 - The End Of Kibougamine Zetsubou-hen/Cover.jpg" alt=""/>
                <p>Danganronpa 3 - The End Of Kibougamine Zetsubou-hen</p>
            </div>
            <div>
                <img class="miniature" src="img/References/A Certain Magical Index/Cover.jpg" alt=""/>
                <p>A Certain Magical Index</p>
            </div>
            <div>
                <img class="miniature" src="img/References/Death Note/Cover.jpg" alt=""/>
                <p>Death Note</p>
            </div>
            <div>
                <img class="miniature" src="img/References/ReZero/Cover.jpg" alt=""/>
                <p>Re:Zero</p>
            </div>
            <div>
                <img class="miniature" src="img/References/My Hero Academia/Cover.jpg" alt=""/>
                <p>My Hero Academia</p>
            </div>
            <div>
                <img class="miniature" src="img/References/Neon Genesis Evangelion/Cover.jpg" alt=""/>
                <p>Neon Genesis Evangelion</p>
            </div>
        </div>
    </article>
    <% if @Comments then %>
      <article class="categories">
          <div class="title">
              <h6>Commentaires</h6>
              <a href="#">Laisser un commentaire</a>
          </div>
          <div class="commentaires">
            <% @Comments.each do |iteComment| %>
              <div class="commentaire">
                  <div class="sender">
                      <img src="img/dio_Brando.jpg" alt="profil-img">
                      <div class="right-part">
                          <div class="pseudo-wrapper">
                              <div class="pseudo">Dio Brando</div>
                              <div class="nb-commentaires">10 commentaires</div>
                              <div class="stars"><% iteComment.note %></div>
                          </div>
                      </div>
                  </div>
                  <p><%= iteComment.text %></p>
              </div>
              <% end %>
            </div>
      </article>
    <% end %>
    <% if @linkRef then %>
    <article class="categories">
        <div class="title">
            <h6>Séries liées</h6>
        </div>
        <div class="images">
            <% @linkRef.each do |linkRef| %>
              <%= image_tag "", width: "10%", height: "10%" %>
              <a href="/<%= linkRef.url %>"><p><%= linkRef.titre %></p></a>
            <% end %>
    </article>
    <% end %>
    <article class="pub">
      <%= image_tag "pub.jpg", width: "100%" %>
    </article>
</main>
