<nav>
  <div>
    <%= image_tag "Logos/MDCnavbar.png", class:"logo", width: "10%", height: "10%" %>
  </div>
  <div class="liens">
    <a href="/"><%= image_tag "Logos/home.png", class:"logo", width: "10%", height: "10%" %></a>
    <a href="/search"><%= image_tag "Logos/search.png", class:"logo", width: "10%", height: "10%" %></a>
    <a href="/login"><%= image_tag "Logos/user.png", class:"logo", width: "10%", height: "10%" %></a>
    <a href="/random"><%= image_tag "Logos/dice.png", class:"logo", width: "10%", height: "10%" %></a>
    <a href="/contacter"><%= image_tag "Logos/contact.png", class:"logo", width: "10%", height: "10%" %></a>
  </div>
</nav>


<main>
  <article class="categories">
    <div class="title">
      <h6><%= @selRef.titre %></h6>
      <p><%= @Note %></p>
    </div>
  <div class="user">
    <%= image_tag "#{@selRef.cover_data}", class:"" %>
    <div class="hb">
      <div class="ph">
        <p>Titre original : <span><%= @selRef.orgTitre %></span></p>
        <% if @selRef.isManga == true then %>
            <p>Statut de parution: <span><%= @selRef.parStatus %></span></p>
            <% if @selRef.isFr == true then %>
                <p>Nombre de volumes: <span><%= @selRef.nbVolFr %></span></p>
                <p>Edition: <span><%= @selEditeur.nom %></p>
            <% else %>
                <p>Nombre de volumes <span>:<%= @selRef.nbVolJp %></span></p>
            <% end %>
        <% end %>
      </div>
      <div class="pb">
        <% if @selRef.isAnime == true then %>
            <p>Statut de diffusion: <span><%= @selRef.difStatus %></span></p>
            <p>Studio: <span><%= @selStudio.nom %></p>
            <p>Nombre total d'épisodes: <span><%= @selRef.nbEpTotal %></span></p>
            <p>Nombre d'OAV et de Films : <span><%= @selRef.nbOAVTotal %>, <%= @selRef.nbFilmsTotal %></span></p>
            <% if @selRef.isLicenced then %>
                <p>Licencié par: <span><%= @selLicencer.nom %></span></p>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  </article>

    <article class="categories bio">
      <div class="title">
        <h6>Synopsis</h6>
      </div>
        <p style="text-align:left;"><%= @selRef.synopsis %></p>
    </article>

    <% if @selAffiliates.count != 0 %>
        <article class="categories">
            <div class="title">
                <h6>Acheter</h6>
            </div>
            <div class="images">
                <% @selAffiliates.each do |selAff| %>
                <div>
                    <%= link_to "#{selAff.link}" do %>
                        <%= image_tag "#{selAff.image_data}", class:"miniature"%>
                        <p>Tome <%= selAff.orderNb %></p>
                    <% end %>
                </div>
                <% end %>
            </div>
        </article>
    <% end %>

      <article class="categories">
          <div class="title">
              <h6>Commentaires</h6>
              <a href="/comments/new">Laisser un commentaire</a>
          </div>
          <div class="commentaires">

            <% @selComments.each do |iteComment| %>
              <div class="commentaire">
                  <div class="sender">
                      <div class="right-part">
                          <div class="pseudo-wrapper">
                              <div class="pseudo">
                                  <a href="/users/<%= Utilisateur.find(iteComment.utilisateur_id).username %>">
                                      <p><%= Utilisateur.find(iteComment.utilisateur_id).username %></p>
                                  </a>
                              </div>
                              <div class="stars">
                                  <p> - <%= iteComment.note %>★</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="pseudo-wrapper">
                    <span><p><%= iteComment.comment %></p><span>
                  <div class="pseudo-wrapper">
              </div>
              <hr size="1px" color="#000000"/>

              <% end %>
            </div>
      </article>

    <% if @linkRef.count != 0 then %>
    <article class="categories">
        <div class="title">
            <h6>Séries liées</h6>
        </div>
        <div class="images">
            <% @linkRef.each do |selLinkRef| %>
            <div>
                <%= image_tag "#{selLinkRef.cover_data}", class:"miniature" %>
                <a href="/<%= selLinkRef.url %>"><p><%= selLinkRef.titre %></p></a>
            </div>
            <% end %>
        </article>
    <% end %>
    <article class="pub">
      <%= image_tag "pub.jpg", width: "100%" %>
    </article>
</main>
