<%= stylesheet_link_tag "comments" %>
<%= image_tag "Logos/MDC2.png", width: "50%" %>
<h1>Ajouter un commentaire</h1>
<%= form_tag "/comments/new", method: "post" do %>
<div class="form">
    <div class="">
        <label>Laisser un commentaire pour :</label>
        <select name="reference_id" style="width:100%;">
            <% @allReference.each do |selRef| %>
                <% if selRef.titre and selRef.isValidated == true %>
                    <option value=<%= selRef.id %>><%= selRef.titre %></option>
                <% end %>
            <% end %>
        </select>
    </div>

    <div class="">
        <label>Note</label>
        <input type="number" name="note" min="0" max="5" value="5" style="width:100%;"/>
    </div>

    <div class="">
        <label>Commentaire</label>
        <textarea name="comment" rows="8" column="80" style="width:100%;" placeholder="Votre commentaire"></textarea>
    </div>

    <div class="">
        <input type="hidden" name="utilisateur_id" value=<%= @currentUser.id %> />
    </div>

    <div class="">
        <input type="submit" value="Ajouter" style="width:100%;"/>
    </div>
<% end %>
