<%= stylesheet_link_tag "search" %>
<nav>
  <div>
    <%= image_tag "Logos/MDCnavbar.png", class:"logo", width: "10%", height: "10%" %>
  </div>
  <div class="liens">
    <a href="/"><%= image_tag "Logos/home.png", class:"logo", width: "10%", height: "10%" %></a>
    <a href="/search"><%= image_tag "Logos/search.png", class:"logo", width: "10%", height: "10%" %></a>
    <a href="/login"><%= image_tag "Logos/user.png", class:"logo", width: "10%", height: "10%" %></a>
    <a href="/random"><%= image_tag "Logos/dice.png", class:"logo", width: "10%", height: "10%" %></a>
    <a href="#"><%= image_tag "Logos/contact.png", class:"logo", width: "10%", height: "10%" %></a>
  </div>
</nav>

<main>
    <div class="categories">
      <%= form_tag "/search", method: "post" do %>
        <div class="search-input">
            <input type="text" placeholder="Saisisez votre recherche" name="search"/>
            <button type="submit" name="button"><%= image_tag "Logos/loupeb.png", width: "10%", height:"10%" %></button>
        </div>
      <% end %>
    </div>
      <% if @Result then %>
      <article class="categories">
          <h5>Résultats</h5>
          <div class="images">
            <% if @Result.count == 0 then %>
            <div>
                <p>Aucun résultat trouvé.</p>
                <p><%= link_to "Ajouter une référence", "/ajouter" %></p>
            </div>
            <% else @Result.each do |selResult| %>
              <div>
                  <%= link_to selResult.url do %>
                      <%= image_tag "#{selResult.cover_data}", class:"miniature" %>
                      <p><%= selResult.titre %></p>
                  <% end %>

              </div>
            <% end %>
            <% end %>
          </div>
      </article>
      <% end %>

    <article class="pub">
      <%= image_tag "pub.jpg", width: "100%" %>
</article>
</main>
