<%= stylesheet_link_tag "lists_back" %>
<%= image_tag "Logos/MDC2.png", width: "50%" %>
<header>
  <ul>
    <li><%= link_to "Références", "/references/index" %></li>
    <li><%= link_to "Studios", "/studios/index" %></li>
    <li><%= link_to "Editeurs", "/editeurs/index" %></li>
    <li><%= link_to "Licences", "/licences/index" %></li>
    <li><%= link_to "Propriétaire de licences", "index" %></li>
    <li><%= link_to "Utilisateurs", "/users/index" %></li>
    <li><%= link_to "Commentaires", "/comments/index" %></li>
  </ul>
</header>
<h1>Propriétaire de licence</h1>
<% @allLicencers.each do |selLicencer| %>
  <p><%= selLicencer.nom %></p>
  <%= form_tag "/licencers/#{selLicencer.id}", method: "delete" do %>
  <input type="submit" value="Supprimer" />
  <% end %>
<% end %>
<%= link_to "Ajouter un propriétaire de licence", "/licencers/new" %>
